
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Product List</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
    </tr>
    @foreach (var pro in Model)
    {
        <tr>
            <td>@pro.Id</td>
            <td>@pro.Title</td>
            <td>@pro.Price</td>
            <td>@pro.Quantity</td>
            <td>@pro.Descr</td>

        </tr>
    }
</table>
